@charset "utf-8";
/**
 * COPYRIGHT 2015, USTC SINOVATE SOFTWARE ALL RIGHTS RESERVED.
 * by SINOVATE-UED.
 */
@import "compass/css3";
@import "foundation/config";
@import "foundation/helpers/function";
.simNumSpinner{
	font-size: pxToEm(14);
	width: pxToEm(100,14);
	height: pxToEm(26,14);
	position: relative;
	padding: 0 pxToEm(26,14);
	border: 1px solid #ccc;
	display: inline-block;
	color: #333;
	margin-right: pxToEm(7,14);
	i{
		position: absolute;
		top: 0;
		bottom: 0;
		text-align: center;
		width: pxToEm(26,10);
		font-size: pxToEm(10,14);
		line-height: pxToEm(26,10);
		//color: #666;
		color: adjust-lightness(#333,20);
		&.ns-minus{
			left: 0;
			border-right: 1px solid #ccc;
		}
		&.ns-plus{
			right: 0;
			border-left: 1px solid #ccc;
		}
	}
	.numbox{
		width: 100%;
		border-width: 0;
		line-height: pxToEm(24,12);
		text-align: center;
		font-size: pxToEm(12,14);
		color: #333;
		&:disabled{
			background-color: #fff;
		}
	}
}