///命名空间:IN

///func-boxes
.func-boxes {
    text-align: center;
    border: 1px solid #ddd;
    @include border-radius(4px);
    margin: pxToEm(12px);
    padding: pxToEm(6px) 0em;
    a {
        display: inline-block;
        width: 31%;
        margin: pxToEm(6) 0em;
        //outline: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0.3);
        &:focus{
            outline: none;
        }
    }
    .fa {
        display: block;
        color: #fff;
        @include border-radius(pxToEm(8px, 30px));
        font-size: pxToEm(30px);
        ///font base
        width: pxToEm(50, 30);
        margin: 0em auto;
        line-height: pxToEm(50, 30);
        height: pxToEm(50, 30);
    }
    //各个图标
    i {
        &.fa-user {
            background-color: #8acbeb;
        }
        &.fa-gear {
            background-color: #99cc66;
        }
        &.fa-connectdevelop {
            background-color: #99cccc;
        }
        &.fa-street-view {
            background-color: #f1b16d;
        }
        &.fa-building {
            background-color: #ff9999;
        }
        &.fa-search {
            background-color: #99cc66;
        }
        &.fa-arrows-alt {
            background-color: #99cccc;
        }
        &.fa-file-text-o {
            background-color: #99ccff;
        }
        &.fa-desktop {
            background-color: #ff9999;
        }
        &.fa-question {
            background-color: #99cc66;
        }
        &.fa-sitemap {
            background-color: #f1b16d;
        }
        &.fa-random {
            background-color: #77c2f6;
        }
    }
    b {
        @extend %ellipsis;
        padding-top: pxToEm(2px);
        display: block;
    }
}



